<div class="container">
  {{#bs-accordion as |acc|}}
    {{#acc.item class="bg-dark text-light" value="1" title="Create new record:"}}
      <form>
        <div class="form-group">
          <label for="name">Record Name</label>
          {{input id="name" class="form-control" value=name placeholder="Enter name"}}
        </div>
        <div class="form-group">
          <label for="number">Record Number</label>
          {{input id="number" class="form-control" value=number placeholder="Enter number"}}
        </div>
        <button class="btn btn-primary" {{action "createDummy" name number}}>Create</button>
      </form>
    {{/acc.item}}
  {{/bs-accordion}}
  <div class="card bg-dark text-light">
    <div class="card-header">
      View, update, and delete records:
    </div>
    <table class="table table-dark">
      <thead class="text-light">
        <th>Name</th>
        <th>Number</th>
        <th>Update Button</th>
        <th>Delete Button</th>
      </thead>
      <tbody>
        {{#each model as |dummy|}}
          <tr>
            <td>{{input class="form-control" value=dummy.name}}</td>
            <td>{{input class="form-control" value=dummy.number}}</td>
            <td><button class="btn btn-secondary" {{action "updateDummy" dummy.id dummy.name dummy.number}}>Update Record</button></td>
            <td><button class="btn btn-secondary" {{action "destroyDummy" dummy.id}}>Destroy Record</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
