<form {{action 'createUser' username email password passwordConfirmation on="submit"}}>
  {{input type="text" value=username placeholder="Username"}}
  {{input type="text" value=email placeholder="Email"}}
  {{input type="password" value=password placeholder="Password"}}
  {{input type="password" value=passwordConfirmation placeholder="Confirm Password"}}
  <button type="submit">Sign up</button>
</form>